.photo_block_overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 300ms;
    .icon_eye {
        width: 46px;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                margin: 0;
            }
        }
    }
    .icon_fullscreen {
        height: 35px;
        width: auto;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .text_category,
    .text_reference {
        width: auto;
        font-size: 14px;
        font-family: "Space Mono", sans-serif;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
    }
    .text_reference {
        bottom: 20px;
        left: 20px;
    }
    .text_category {
        bottom: 20px;
        right: 20px;
    }
}
.photo_block:hover .photo_block_overlay {
    transform: scale(1);
}
