.lightbox_overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
    // display: none;

    .lightbox_wrapper {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(182, 61, 61, 0.9);

        .before_arrow,
        .after_arrow {
            position: absolute;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
        }
        .before_arrow {
            width: 220px;
            left: 10%;
            cursor: pointer;
        }
        .after_arrow {
            width: 200px;
            right: 10%;
            cursor: pointer;
        }
        .close_lightbox {
            position: absolute;
            top: 10%;
            right: 20%;
            cursor: pointer;
        }
        .lightbox_img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgb(231, 231, 231);
            width: 700px;
            height: 500px;
            padding: 30px;
            @media screen and (max-width: 425px) {
                max-width: 90%;
            }
            h1 {
                font-size: 60px;
                font-style: italic;
                text-align: center;
                @media screen and (max-width: 425px) {
                    font-size: 40px;
                }
            }
        }
    }
    &.active-lightbox {
        display: flex;
    }
    .lightbox_photo_text {
        font-size: 30px;
        color: #000000;
    }
}
