.hero_section {
    width: 100%;
    height: 90vh;
    background: url("../assets/imgs/nathalie-11.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 145%;
    position: relative;
    @media screen and (max-width: 1024px) {
        height: 70vh;
    }
    @media screen and (max-width: 768px) {
        height: 52vh;
    }
    @media screen and (max-width: 425px) {
        height: 29vh;
    }
    @media screen and (max-width: 375px) {
        height: 26vh;
    }
    @media screen and (max-width: 320px) {
        height: 22vh;
    }
    //
    .hero_img {
        width: 100%;
        height: 100%;
        img {
            display: block;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    //
    h1 svg {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}
// Setting Sort Section
.sort_section {
    width: 1300px;
    min-height: auto;
    margin: 0 auto;
    padding: 50px 0;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    #form_filter {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        background-color: antiquewhite;
        .search_list {
            width: 260px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            border: 1px solid black;
            @media screen and (max-width: 1024px) {
                flex-direction: column;
            }
            .list_item_title {
                width: 100%;
                height: 50px;
                position: relative;
                .span_title {
                    padding-left: 30px;
                    line-height: 50px;
                }
                .span_logo {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .sub_list {
                    // margin-top: 20px;
                    display: none;
                    .sub_item {
                        width: 100%;
                        height: 50px;
                        padding-left: 30px;
                        line-height: 50px;
                    }
                    .sub_item:hover {
                        height: 50px;
                        background: #ffd6d6;
                    }
                }
            }
            .list_item_title:hover > ul {
                display: block;
            }
        }
    }
    /* link single page -> to delete */
    a {
        display: inline-block;
        img {
            width: 30%;
            margin: 30px auto 30px auto;
            display: block;
            height: auto;
            @media screen and (max-width: 1024px) {
                width: 50%;
            }
        }
    }
}
// Setting Photos Section
.section_post_imgs_container {
    width: 1300px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 20px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    .post_img {
        width: 49%;
        height: 550px;
        @media screen and (max-width: 768px) {
            width: 90%;
            margin: auto;
        }
        @media screen and (max-width: 425px) {
            height: 400px;
        }
        @media screen and (max-width: 375px) {
            height: 340px;
        }
        @media screen and (max-width: 375px) {
            height: 300px;
        }
        img {
            display: block;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}
// Setting Section Btn All Photos
.section_btn_load_more {
    width: 100%;
    height: auto;
    .btn_post_all_imgs {
        width: 270px;
        height: 50px;
        margin: 50px auto;
        @media screen and (max-width: 1024px) {
            width: 250px;
        }
        span {
            width: 100%;
            height: 100%;
            color: #000;
            background-color: #d8d8d8;
            border-radius: 2px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        span:hover {
            font-weight: 700;
            color: #fff;
            background-color: #000;
            transition: all 300ms ease-in-out;
        }
    }
}
