.hero_section {
    width: 100%;
    height: 90vh;
    background: url("../assets/imgs/nathalie-11.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 145%;
    position: relative;
    @media screen and (max-width: 1024px) {
        height: 70vh;
    }
    @media screen and (max-width: 768px) {
        height: 52vh;
    }
    @media screen and (max-width: 425px) {
        height: 29vh;
    }
    @media screen and (max-width: 375px) {
        height: 26vh;
    }
    @media screen and (max-width: 320px) {
        height: 22vh;
    }
    //
    .hero_img {
        width: 100%;
        height: 100%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
        //
        h1 svg {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}
// Setting Sort Section
#section_selects {
    width: 1300px;
    min-height: auto;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    #left_box_select {
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        // background-color: antiquewhite;
    }
    #right_box_select {
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: end;
        // background-color: rgb(123, 139, 106);
    }
    .custom_select_box {
        width: 48%;
        height: 52px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Poppins";
        padding: 0 1.5em;
        border: 1px solid black;
        border-radius: 8px;
    }
}
//
/* link single page -> to delete */
a {
    display: inline-block;
    img {
        width: 20%;
        margin: 30px auto 30px auto;
        display: block;
        height: auto;
        @media screen and (max-width: 1024px) {
            width: 30%;
        }
    }
}
// Setting Photos Section
.section_post_imgs_container {
    width: 1300px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 20px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    .post_img {
        width: 49%;
        height: 550px;
        @media screen and (max-width: 768px) {
            width: 90%;
            margin: auto;
        }
        @media screen and (max-width: 425px) {
            height: 400px;
        }
        @media screen and (max-width: 375px) {
            height: 340px;
        }
        @media screen and (max-width: 375px) {
            height: 300px;
        }
        img {
            display: block;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}
// Setting Section Btn All Photos
.section_btn_load_more {
    width: 100%;
    height: auto;
    .btn_load_more {
        width: 270px;
        height: 50px;
        margin: 50px auto;
        @media screen and (max-width: 1024px) {
            width: 250px;
        }
        span {
            width: 100%;
            height: 100%;
            color: #000;
            background-color: #d8d8d8;
            border-radius: 2px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 300ms ease-in-out;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        span:hover {
            font-weight: 700;
            color: #fff;
            background-color: #000;
            transition: all 300ms ease-in-out;
        }
    }
}
