.popup_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000060;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
    .popup_form {
        background: white;
        border: 5px solid #000;
        border-radius: 2px;
        max-width: 680px;
        height: auto;
        padding: 30px;
        position: relative;
        @media screen and (max-width: 425px) {
            max-width: 90%;
        }

        .popup_form_header {
            height: 100px;
            h1 {
                font-size: 60px;
                font-style: italic;
                text-align: center;
                @media screen and (max-width: 425px) {
                    font-size: 40px;
                }
            }

            .popup-close {
                position: absolute;
                top: -15px;
                right: -15px;
                border-radius: 20px;
                height: 35px;
                width: 35px;
                border: 1px solid black;
                background: white;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.4s ease;
                //
                font-size: 30px;
                font-weight: 400;
                line-height: 0;

                .material-symbols-outlined {
                    font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0,
                        "opsz" 48;
                }
            }
        }
    }
    &.is-open {
        display: flex;
    }
}
